.download-info {
	border-top: 1px solid #ddd;
	padding-top: 4px;
}

.download-video {
	height: 18px;
	padding: 0 1px;
	line-height: inherit;
	font-size: 12px;
	float: right;
}

#video-container {
	padding: 10px;
	border: 1px solid #ddd;
}

.video-item {
	width: 110px;
	display: inline-block;
	padding: 8px;
	border: 1px solid #ddd;
	margin: 0 5px;
	font-size: 12px;
	cursor: pointer;
}

.video-img {
	width: 90px;
	height: 60px;
	magin: 0 auto;
}

.video-info {
	margin-top: 4px;
}

.video-name {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	height: 26px
}

#video-block {
	width: 90%;
	border: 1px solid #ddd;
	margin: 0 auto;
	display: none;
}

#video {
	height: 100%;
	width: 100%;
	margin-top: 20px;
	padding: 10px;
}

#video-title {
	margin-top: 20px;
	text-align: center;
}

#videoPage {
	text-align: center;
}

.video-name span {
	word-break: break-all;
}

#videoUpload {
	margin-bottom: 5px;
}